{% extends 'base-2-horizontal-blocks.html.twig' %}

{% trans_default_domain 'messages' %}

{% block title %}Se connecter à {{ parent() }}{% endblock %}

{% set section_id = 'login' %}

{% set block1 = 'image' %}
{% block block1 %}
    <img class="card-img"
         src="{{ asset('/images/conviction.jpg') }}" alt="Login">
{% endblock %}

{% set block2 = 'text' %}
{% block block2 %}
    <div>
        <h1 class="register">Connexion</h1>

        {{ form_start(form) }}
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.loginSubmit) }}
        {{ form_end(form) }}

        <a href="{{ path('user_register') }}" class="no-account-or-already-registered">Pas encore de compte ?
            S'inscrire</a>
    </div>
{% endblock %}