{% extends 'base.html.twig' %}
{% import "macros.html.twig" as macros %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <section id="product">
        <div id="image">
            <img class="card-img"
                 src="{{ asset(product.picture ? '/images/produits/' ~ product.picture|url_encode : '/images/produits/placeholder.png') }}"
                 alt="{{ product.name|escape }}">
        </div>
        <div id="text">
            <div>
                <h1>{{ product.name }}</h1>
                <p class="price">{{ macros.formatPrice(product.price) }}</p>
                <p class="description-title">Description</p>
                <p class="description">{{ product.fullDescription|nl2br }}</p>
            </div>

            {{ form_start(form) }}
            {{ form_row(form.addToCart) }}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
