<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Green Goodies{% endblock %}</title>
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
    {% block stylesheets %}{% endblock %}
</head>
<body {% block body_class %}{% endblock %}>
<div id="wrapper">
    <header>
        <nav>
            <div class="left">
                <a href="{{ path('app_main') }}">
                    <div class="logo">
                        <div class="logo-icon">G</div>
                        <div class="logo-text">Green Goodies</div>
                    </div>
                </a>
            </div>
            <menu class="right">
                {% if app.user %}
                    <li><a href="{{ path('app_main') }}">Nos produits</a></li>
                    <li><a href="{{ path('user_cart') }}">Mon panier</a></li>
                    <li><a href="{{ path('user_account') }}">Mon compte</a></li>
                    <li><a href="{{ path('user_logout') }}">Déconnexion</a></li>
                {% else %}
                    <li><a href="{{ path('user_login') }}">Connexion</a></li>
                    <li><a href="{{ path('user_register') }}">Inscription</a></li>
                {% endif %}
            </menu>
        </nav>
    </header>
    {% block body %}{% endblock %}
    <footer>
        <nav>© GreenGoodies - {{ "now"|date('Y') }}</nav>
    </footer>
</div>
</body>
</html>
