{% extends 'base.html.twig' %}

{% trans_default_domain 'messages' %}

{% block title %}{% endblock %}

{% block body_class %}class="private"{% endblock %}
{% block body %}
    <h1>Mon compte</h1>
    <div>
        Mes commandes
        {% for order in orders %}
            <p>{{ order.num }} - {{ order.orderDate|format_date(locale: 'fr', pattern: 'dd/MM/yyyy') }}
                - {{ order.total }}€</p>
        {% endfor %}

    </div>
    <div>
        Mon accès API
        {{ form_start(apiForm) }}
        {{ form_row(apiForm.apiAccess) }}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        {{ form_end(apiForm) }}
    </div>

    <div>
        {{ form_start(deleteForm) }}
        {{ form_row(deleteForm.deleteAccount) }}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        {{ form_end(deleteForm) }}
    </div>
{% endblock %}